extends layout

include selector.pug

block content
	if login.role == 'admin'
		a(href='/telescopes/create') Добавить телескоп
	form(action='/search',method='POST')
		select(id="searchtype" name="searchtype")
			+selector(['Страна', 'Город'], searchtype)
		input(type='text',id='searchtext', name='searchtext', value= searchtext?searchtext:'')
		button(type='submit')='Поиск'
	form(action='/sort',method='POST')
		select(id="sorttype" name="sorttype")
			+selector(['Страна', 'Город', 'Тип телескопа'], sorttype)
		button(type='submit')='Сортировать'
	form(action='/',method='GET')
		button(type='submit')='Сбросить'
	if info.length == 0
		h3 Нет подходящих результатов
	else
		h3='Найдено '+info.length+ ' результат(ов):'
		if login.role == 'admin'
			table
				each telescope in info
					tr
						td
							a(href='/telescopes/'+telescope.id)=telescope.id+' '+telescope.name
						td
							p=telescope.type
							p=telescope.country
							p=telescope.city
							p=telescope.info
							p
								a(href='/telescopes/'+telescope.id+'/delete') Удалить
			
		else
			table
				each telescope in info
					tr
						td
							a(href='/telescopes/'+telescope.id)=telescope.name
						td
							p=telescope.type
							p=telescope.country
							p=telescope.city
			
		
