extends layout

include selector.pug

block content
	table
		each obj in info
			tr
				td
					h3='ID '+obj.id
					form(action='/objects/'+obj.id+'/change',method='post')
						h3 Название
						input(type='text', id='objname', name='objname', value=objname?objname:obj.objname)
						h3 Высота светила
						input(type='number',step=0.00001, min=-90, max=90, id='objh', name='objh', value=objh?objh:obj.objh)
						h3 Азимут
						input(type='number',step=0.00001, min=0, max=360, id='obja', name='obja', value=obja?obja:obj.obja)
						h3 Дополнительная информация
						input(type='text', id='objinfo', name='objinfo', value=objinfo?objinfo:obj.objinfo, maxlength=10)
						p 
							button(type='submit') Изменить
				