extends layout

include selector.pug

block content
	table
		each obj in info
			tr
				td
					if login.role == 'admin'
						p
							a(href='/objects/'+obj.id+'/change') Изменить
						p
							a(href='/objects/'+obj.id+'/delete') Удалить
						h3='ID '+obj.id
					h3 Название
					p=obj.objname
					h3 Высота светила
					p=obj.objh
					h3 Азимут
					p=obj.obja
					h3 Дополнительная информация
					p=obj.objinfo
				