extends layout

include selector.pug

block content
	if login.role == 'admin'
		a(href='/objects/create') Добавить небесное тело
		form(action='/objects/search',method='POST')
			select(id="searchtype" name="searchtype")
				+selector(['ID небесного тела', 'Название небесного тела'], searchtype)
			input(type='text', id='searchtext', name='searchtext', value= searchtext?searchtext:'')
			button(type='submit')='Поиск'
	else
		form(action='/objects/search',method='POST')
			input(type='text', id='searchtext', name='searchtext', value= searchtext?searchtext:'Название небесного тела')
			button(type='submit')='Поиск'
	form(action='/objects/sort',method='POST')
		button(type='submit')='Сортировать по  названию'
	form(action='/objects',method='GET')
		button(type='submit')='Сбросить'
	if info.length == 0
		h3 Нет подходящих результатов
	else
		h3='Найдено '+info.length+ ' результат(ов):'
		table
			each obj in info
				tr
					if login.role == 'admin'
						td
							a(href='/objects/'+obj.id)=obj.id+' '+obj.objname
						td
							p=obj.objinfo
							p
								a(href='/objects/'+obj.id+'/delete') Удалить
					else
						td
							a(href='/objects/'+obj.id)=obj.objname
						td
							p=obj.objinfo
							