extends layout

block content
	if info.length == 0
		h3 Такого телескопа не существует
	else
		table
			each tel in info
				tr
					td
						if login.role == 'admin'
							a(href='/telescopes/'+tel.telescopeid+'/change') Изменить
							p
								a(href='/telescopes/'+tel.telescopeid+'/delete') Удалить
							h3 ID
							p=tel.telescopeid
						h3 Название
						p=tel.telescopename
						h3 Тип
						p=tel.telescopetype
						h3 Страна
						p=tel.country
						h3 Город
						p=tel.city
						h3 Дополнительная информация
						p=tel.telescopeinfo 